/* FAVORITES */
.favorites {
  padding-top: 30px;
  height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(9, 9, 9, 0.8);
  padding: 40px;
  color: white;
}
.fav-characters,
.fav-comics {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  border-radius: 5px;
}
.favorites > div {
  display: flex;
  flex-direction: column;
}
.favorites h2 {
  margin-bottom: 15px;
}
.fav-characters .character,
.fav-comics .comic {
  margin: 0 5px;
}