/* CHARACTER */
.charId {
  min-height: 83.2vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.charId img {
  height: 50vh;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  margin-right: 30px;
}
.character-details {
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  justify-content: space-between;
}
.character-details p {
  font-size: 18px;
  margin-bottom: 5px;
}
.character-details > p:first-child {
  margin-bottom: 20px;
}
