/* CHARACTER */
.character {
  width: 193px;
  background-color: #151515;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 5px;
}
.character > .details {
  width: 193px;
  height: 145px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  border-top: 5px solid #ee151e;
}
.character:hover {
  color: white;
  background-color: #ee151e;
}
.character .img-container {
  height: 206px;
  width: 193px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.character img {
  height: 206px;
  width: 193px;
  object-fit: fill;
  object-position: center;
  transition: transform 0.2s ease;
}
.character:hover img {
  transform: scale(1.1);
  height: 206px;
  width: 193px;
  object-fit: fill;
  object-position: center;
}
.character .details li:first-child {
  height: 60px;
}
.character .details li:nth-child(2) {
  height: 30px;
}
.character p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}
.character a,
.character a:visited {
  text-decoration: none;
  color: white;
}

/* COMIC */
.comic {
  width: 224px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
}
.comic > .details {
  width: 224px;
  height: 90px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
  box-sizing: border-box;
}
.comic .img-container {
  width: 224px;
  height: 338px;
  overflow: hidden;
  transition: transform 0.2s ease;
}
.comic img {
  width: 224px;
  height: 338px;
  object-fit: fill;
  border-radius: 5px 5px 0 0;
}
.comic li:first-child {
  height: 70px;
}
.comic li:nth-child(2) {
  display: none;
}
.comic:hover h3 {
  color: #ee151e;
}
.comic:hover .img-container {
  transform: translateY(-10px);
}

/* FAVORITE */
.star i {
  color: #f4c552;
}
