/* HEADER */
header {
  background-color: #1d1d1d;
  position: sticky;
  top: 0;
  z-index: 100;
}
header img {
  height: 50px;
}
.menu {
  height: 80px;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #1d1d1d;
}
.menu a,
.menu a:visited {
  color: #999999;
}
.menu a:hover {
  color: white;
  cursor: pointer;
}
.menu > li {
  padding: 0 18px;
}
.border {
  border: 1px solid #393939;
  width: 100%;
}
