/* FAVORITE */
.star {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: white;
  margin-top: 10px;
  margin-left: 10px;
}
.star i {
  font-size: 25px;
  color: grey;
  transform: translateX(-5px);
}
.starred {
  color: #f4c552 !important;
}