/* FOOTER */
footer {
  height: 40px;
  color: white;
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer a,
footer a:visited {
  font-weight: bold;
  color: white;
}
