/* SEARCH */
.search {
  margin: 0 30px;
  position: sticky;
  top: 40px;
}
.search ul {
  max-width: 700px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1d1d1d;
  border-radius: 0 0 20px 20px;
}
.search li:not(:last-child) {
  margin-right: 10px;
}
.search i {
  font-size: 20px;
  color: #8191a0;
}
.search input {
  margin-right: 5px;
  padding: 0 10px;
}
input:focus,
select:focus {
  outline: none;
}
label {
  color: white;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
}
