/* COMMONS */
body {
  font-family: "Roboto", sans-serif;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  background-color: #ee151e;
}
button:hover {
  cursor: pointer;
}
input {
  width: 350px;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #d9e0eb;
  box-sizing: border-box;
}
h2 {
  font-size: 2em;
  font-weight: bold;
}
h3 {
  font-size: 16px;
  font-weight: bold;
}
h4 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}
p {
  font-size: 12px;
}
a,
a:visited {
  text-decoration: none;
}

/* FLEXBOX */
.d-flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.just-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
