/* COMMONS */
body {
  font-family: "Roboto", sans-serif;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #ee151e;
}
button:hover {
  cursor: pointer;
}
input {
  width: 350px;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #d9e0eb;
  box-sizing: border-box;
}
h3 {
  font-size: 16px;
  font-weight: bold;
}
p {
  font-size: 12px;
}
a,
a:visited {
  color: white;
  text-decoration: none;
}

/* FLEXBOX */
.d-flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.just-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}

/* LOADING */
.loading {
  height: 70vh;
}
.loading p {
  font-weight: bold;
  font-size: 25px;
}

/* HEADER */
header {
  background-color: #1d1d1d;
}
header a,
header a:visited {
  color: #999999;
}
header a:hover {
  color: white;
  cursor: pointer;
}
header img {
  width: 130px;
}
header > p {
  border: 1px solid #393939;
  width: 100%;
}

/* FOOTER */
footer {
  height: 40px;
  color: white;
  font-weight: bold;
  background-color: #1d1d1d;
}

/* MENU */
.menu {
  height: 40px;
  color: white;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
}
.menu > li {
  padding: 0 18px;
}

/* SEARCH */
.search {
  margin: 35px 30px;
  height: 40px;
}
.search > ul {
  height: 40px;
}
.search i {
  font-size: 20px;
  color: #8191a0;
  margin-right: 10px;
}
.search input {
  margin-right: 5px;
}

/* CHARACTERS */
.characters {
  flex-wrap: wrap;
}

/* CHARACTER */
.character {
  width: 192px;
  height: 355px;
  background-color: #151515;
  color: #999999;
  margin-bottom: 10px;
}
.character:hover {
  color: white;
  background-color: #ee151e;
  cursor: pointer;
}
.character img {
  height: 206px;
  width: 192px;
  object-fit: fill;
  object-position: center;
  margin-bottom: 15px;
}
.character h3 {
  margin-bottom: 10px;
}
.character p {
  margin-top: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}
.character > li:nth-child(2),
.character > li:nth-child(3) {
  width: 160px;
}

/* COMICS */
.comics {
  flex-wrap: wrap;
}
.comic {
  height: 400px;
  width: 226px;
}
.comic img {
  height: 336pxpx;
  width: 226px;
  object-fit: cover;
  object-position: center;
}

/* FAVORITES */

/* SIGN IN */

/* SIGN UP */
